.colour-property.property-alkalimetal > button {
    background-color: #e95353;
}.colour-property.property-alkalinearth > button {
    background-color: #ff7f00;
}.colour-property.property-transitionmetal > button {
    background-color: #ffce64;
}.colour-property.property-postransitionmetal > button {
    background-color: #5fca5c;
}.colour-property.property-metalloid > button {
    background-color: #39b4e4;
}.colour-property.property-nonmetal > button {
    background-color: #9393ff;
}.colour-property.property-noblegas > button {
    background-color: #e08ee0;
}.colour-property.property-lanthanoid > button {
    background-color: #2ccf99;
}.colour-property.property-actinoid > button {
    background-color: #66b89c;
}.colour-property.property-unknown > button {
    background-color: #bfbfbf;
}