body {
    color: #fff;
    background-color: #222;
}

table {
    border-spacing: 0.25em;
    table-layout: fixed;
} td > button {
    padding: 0;
    width: 100%;
    aspect-ratio: 1/1;
} td {
    min-width: 96px;
    height: 96px;
    text-align: center;
    padding: 0;
} .line-spacer {
    height: 6rem;
} #lanthanoids, #actinoids {
    text-align: center;
} .cell-spacer {
    visibility: hidden;
}



.elemname, .atomass { position: relative; top: -0.25em; }
.atomnum { font-size: 0.8em; width: fit-content; margin-left: 0.4em; }
.symbol { font-size: 2.5em; position: relative; top: -0.1em; }
.atomass { font-size: 0.75em; }

#settings {
    visibility: collapse;
}
